{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      <b>Contact:</b>
      <a href="mailto:{{ site.email }}">{{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}</a>
      <br>
      {% if site.last_updated %}
        <b>Last updated:</b> {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
      <br>
      &copy;: {{ site.time | date: '%Y' }}
      {{ site.institute }}
      <br>
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.impressum_url %}
        <a href="{{ site.impressum_url }}">Impressum</a>
      {% endif %}
      <br>
      {% if site.enable_darkmode %}
        <!-- Toogle theme mode -->
        <button id="light-toggle" title="Change theme">
          <i class="ti ti-sun-moon" id="light-toggle-system"></i>
          <i class="ti ti-moon-filled" id="light-toggle-dark"></i>
          <i class="ti ti-sun-filled" id="light-toggle-light"></i>
        </button>
      {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include scripts/newsletter.liquid %}
    {% endif %}

    <div class="container">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% endif %}
